<!-- no django forms required -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{title}}</h1>
    <ul>
        <li>image</li>
        <li>title</li>
        <li>Whether or not it was favorited</li>
    </ul>

    <h1>Ingredients</h1>
    {% for key, value in ingredient_dict.items %}
        <p>{{key}}</p>
        <p>{{value}}</p>
        <br>
    {% endfor %}

    <h1>Instructions</h1>
    {% for key, value in instructions_dict.items %}
    <p>{{key}}</p>
    <p>{{value}}</p>
    <br>
{% endfor %}


<h1>Nutrients</h1>
{% for key, value in nutrient_dict.items %}
<p>{{key}}</p>
<p>{{value}}</p>
<br>
{% endfor %}
{% endblock %}