<!-- no django forms required -->

{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    .saved-background {
      background-image: url("{% static 'admin/img/food.jpg' %}");
    }
</style>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ms-5 navbar-text-sizing"><b>NutriNav</b></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-0 order-lg-0 " id="sidebarToggle" href="#!" ><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    
    </form>  
    
    <!-- Navbar-->
    <ul class="d-none d-md-inline-block navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
  </nav>

    <h1>{{title}}</h1>
    <ul>
        <li>image</li>
        <li>title</li>
        <li>Whether or not it was favorited</li>
    </ul>

    <h1>Ingredients</h1>
    {% for key, value in ingredient_dict.items %}
        <p>{{key}}</p>
        <p>{{value}}</p>
        <br>
    {% endfor %}

    <h1>Instructions</h1>
    {% for key, value in instructions_dict.items %}
    <p>{{key}}</p>
    <p>{{value}}</p>
    <br>
{% endfor %}


<h1>Nutrients</h1>
{% for key, value in nutrient_dict.items %}
<p>{{key}}</p>
<p>{{value}}</p>
<br>
{% endfor %}
{% endblock %}